body {
    background-color: #000000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    width: 100%;
    height: 550px; /* Fixed height for consistency */
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel-item img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Navigation buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.casino-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
}

.casino-link, .whatsapp-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px 30px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #d4af37; /* Gold color */
    border: 2px solid #b8860b; /* Darker gold for border */
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.casino-link img, .whatsapp-link img {
    display: block;
    max-width: 70%;
    height: auto;
}

.casino-link:hover, .whatsapp-link:hover {
    background-color: #ffd700; /* Brighter gold on hover */
    color: #000;
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.casino-footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    width: 100%;
}

.casino-footer img {
    width: 200px;
    height: auto;
}

/* Media query for mobile view */
@media (max-width: 600px) {
    .carousel-container {
        height: 150px; /* Set a specific height for mobile view */
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-item img {
        height: 100%; /* Ensure the image takes up full height */
        object-fit: cover; /* Ensure the image covers the container without distortion */
    }

    .casino-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .casino-link, .whatsapp-link {
        width: 40%;
        margin: 10px 0; /* Adjust margin for spacing */
    }

    .casino-link img, .whatsapp-link img {
        width: 100%; /* Make images responsive */
    }

}
