---
import CasinoLink from "../components/CasinoLink.astro"
import WhatsAppLink from "../components/WhatsAppLink.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles.css">
		<title>Diversion Asegurada</title>
	</head>
	<body>
		<div class="casino-container">
			<CasinoLink href="https://superbet.pro/" src="/1.png" alt="Superbet"/>
			<WhatsAppLink src="/logo_whatsapp.png" alt="Whatsapp"/>
			<CasinoLink href="https://ganamos.bet/home" src="/2.png" alt="Ganamos"/>
		</div>
		<footer class="casino-footer">
			<img src="/LOGO_NUESTRO.png" alt="logonuestro">
		</footer>
	</body>
</html>
